.row
  #youreinvited-div
    = image_tag "birthday-assets/youreinvited.png", alt: "You're invited", id: "youreinvited-img"
.row
  #hero-bkg
    #hero-content
      = image_tag "birthday-assets/announcement.png", alt: "announcent", id: "announcment"
.row
  #birthday-info
    #fewdetails-div
      = image_tag "birthday-assets/fewdetails.png", alt: "A few details", id: "fewdetails"
    #date-div
      = image_tag "birthday-assets/date.png", alt: "Date", id: "date-img"
    #location-div
      = image_tag "birthday-assets/location.png", alt: "Location", id: "location-img"

    .google-btn
      = link_to "MAP IT", "https://www.google.com/maps/place/1321+Sir+Barton+Dr,+Kaysville,+UT+84037/@41.0123974,-111.9576336,17z/data=!3m1!4b1!4m5!3m4!1s0x8752fde0fefec095:0xd3ffe1e8f5e085fb!8m2!3d41.0123934!4d-111.9554449", class: "btn btn-goog"
    #time-div
      = image_tag "birthday-assets/time.png", alt: "Time", id: "time-img"
      hr
  #lunch-div
    = image_tag "birthday-assets/lunch.png", alt: "Lunch", id: "lunch-img"
    hr
  #guests-form
    = form_tag(static_pages_guest_path, method: :post) do
      p WILL WE SEE YOU THERE?
      #yesno
        label.coming.notcomming-check
          = check_box_tag 'coming', 'yes', false, id: "coming"
          | YES
        label.notcoming.notcomming-check
          = check_box_tag 'notcoming', 'yes', false, id: "notcoming"
          | NO
      = text_field_tag 'name', nil, placeholder: "NAME", id: "guest-name"
      = number_field_tag 'guests', nil, in: 1...10, placeholder: "# OF GUESTS", id: "guests"
      = submit_tag "SUBMIT", class: "sub-btn"
  #cant-wait
    p CAN'T WAIT!

javascript: 
  $(document).ready(function(){
    $(document).on("click", ".coming", function(){
      if ($(".coming").hasClass("notcomming-check")) {
        console.log("comming has notcomming-check");
        $(".coming").removeClass('');
        $(".fa-caret-right").removeClass('fa-caret-right');
        $(".fa-caret-left").removeClass('fa-caret-left');
        $(".coming").addClass('comming-check');
        $(".coming").prepend('<div class="fa fa-caret-right carrots">');
        $(".coming").append('<div class="fa fa-caret-left carrots">');
        //$(".coming").html('<div class="fa fa-caret-right carrots"></div>#{check_box_tag "coming", "yes", false, id: "coming"}<div class="fa fa-caret-left carrots"></div>');
      } else {
        console.log("comming hitting your first else statment");
      }
      if ($(".notcoming").hasClass('notcomming-check')) {
        console.log("Do nothing")
      } else {
        console.log("comming hitting your second else statment");
        $(".notcoming").addClass("notcomming-check");
        $(".notcoming").html('<label class="notcoming">NO</lable>#{check_box_tag "coming", "no", false, id: "notcoming"}');
      }
    });
    $(document).on("click", ".notcoming", function(){
      if ($(".notcoming").hasClass("notcomming-check")) {
        console.log("notcoming has notcomming-check");
        $(".notcoming").removeClass('');
        $(".fa-caret-right").removeClass('fa-caret-right');
        $(".fa-caret-left").removeClass('fa-caret-left');
        $(".notcoming").addClass('comming-check');
        $(".notcoming").prepend('<div class="fa fa-caret-right carrots">');
        $(".notcoming").append('<div class="fa fa-caret-left carrots">');
      } else {
        console.log("comming hitting your first else statment");
      }
      if ($(".coming").hasClass('notcomming-check')) {
        console.log("Do nothing")
      } else {
        $(".coming").addClass('notcomming-check');
        $(".coming").html('<label class="coming">YES</label>#{check_box_tag "coming", "yes", false, id: "coming"}');
      }
    });

    $("input:checkbox").on('click', function() {
      // in the handler, 'this' refers to the box clicked on
      var $box = $(this);
      if ($box.is(":checked")) {
        var group = "input:checkbox[class='" + $box.attr("class") + "']";
        $(group).prop("checked", false);
        $box.prop("checked", true);
        console.log("left");
      } else {
        $box.prop("checked", false);
        console.log("right");
      }
    });
  })
