// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import bootstrap-sprockets
@import bootstrap
@import font-awesome-sprockets
@import font-awesome
@import static_pages

@font-face
  font-family: 'ProximaNova'
  src: font-url("/fonts/ProximaNova/Proxima-Nova-Regular.otf")

body
  font-family: ProximaNova

.notice
  background-color: #E5E5E5  
  top: 35px
  width: 100%
  z-index: 100
  position: absolute
  text-align: center
